h1= title
form( method="post")
	div
		div
			span Title :
			input(type="text", name="title", id="editProjectTitle")
		div
			span Url :
			input(type="text", name="url", id="editProjectUrl")            	
		div
			span Body :
			textarea( name="body", rows=20, id="editProjectBody)
		div#editArticleSubmit
			input(type="submit", value="Send")